/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

/* Home */

section.home, .home-background  {
    display: none;
}

body.home {
    overflow: hidden;

    section.home {
        display: block;
    }

    .home-background {
        display: inherit;
    }

}

$home-bg-height: 130px;
$main-nav-height: 50px;

section.home {
    position: relative;
    width: 100%;
    @include calc(height, 100% - #{$home-bg-height} - #{$main-nav-height});
    margin-top: $home-bg-height;

    text-align: right;
    background-color: white;

    transition: margin-top 1s;

    h1 {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 48px;
        margin: 0.1em;
    }

    h1 span.firstname {
        font-weight: 300;
        text-transform: uppercase;
    }

    h1 span.lastname {
        font-weight: 700;
        text-transform: uppercase;
    }

    header {
        position: absolute;
        right: 5%;
        top: 25%;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    a:hover {
        color: inherit;
        text-decoration: inherit;
    }

    .description .current {
        margin: 3px;
    }

    .description .previous {
        overflow: hidden;
        max-height: 1000px;

        color: gray;

        transition-property: max-height, opacity;
        transition-duration: 0.5s, 0.5s;
        transition-delay: 0s, 0.5s;
    }

    .description .previous p {
        margin: 0;
        line-height: 24px;
    }

    .description .previous.collapsed {
        max-height: 0;

        opacity: 0;

        transition-property: opacity, max-height;
        transition-duration: 0.5s, 0.5s;
        transition-delay: 0s, 0.5s;
    }

    .social-networks {
        margin-top: 10px;
        margin-right: 1px;
    }
}

.home-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: -1;

    background: url('../img/home_head_bg.jpg') no-repeat top center;

    @media print,
           (-o-min-device-pixel-ratio: 5/4),
           (-webkit-min-device-pixel-ratio: 1.25),
           (min-resolution: 120dpi) {
        background-image: url('../img/home_head_bg@2x.jpg');
        background-size: auto 150px;
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #c3c3c3;

    color: #787878;
    text-transform: uppercase;
    background-color: white;
    text-align: center;
    background-color: white;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    transition: top 0.4s;

    ul {
        margin: 0;
        line-height: 50px;
        li {
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 18px;

            a {
                color: inherit;
                text-decoration: inherit;
            }

            a:visited {
                color: inherit;
                text-decoration: inherit;
            }

        }

    }

}

nav.fadeaway {
    top: - $main-nav-height;
}

body.home nav {
    position: inherit;
}



/* Content */
$article_margin_top: 25px;

h1 {
    font-family: 'Arvo', sans-serif;
}

h1, h2 {
    font-weight: 400;
}

h3 {
}

article {
    background-color: white;
    overflow-x: hidden;
    white-space: nowrap;
    @include calc(min-height, 100% - #{$main-nav-height});
    margin-top: ($main-nav-height);

    transition: opacity 0.4s;
}


body.home article {
    margin-top: 0;
}

article section {
    display: none;
    width: 100%;
    vertical-align: top;
    margin-top: $article_margin_top;

    background-color: white;
    white-space: normal;

    transition: margin 0.7s;

    > .page {
        width: 960px;
        margin: 0 auto 0 auto;

        @media screen and (max-width: 980px) {
            width: auto;
            margin: 0 10px 0 10px;
        }

        > h1 {
            margin: 0;
            font-size: 1.5em;
        }

        > h2 {
            font-size: 1.1em;
        }

        h3 {
            font-size: 1em;
        }

        li p {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }

}

article section.current {
    display: inline-block;
}

article section.left {
    margin-left: -100%;
}

article.fadeaway {
    opacity: 0;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
